<div id="<%= dom_id educational %>">
  <p>
    <strong>Degree:</strong>
    <%= educational.degree_id %>
  </p>

  <p>
    <strong>University:</strong>
    <%= educational.university_id %>
  </p>

  <p>
    <strong>Start at:</strong>
    <%= educational.start_at %>
  </p>

  <p>
    <strong>End at:</strong>
    <%= educational.end_at %>
  </p>

</div>
