<%= form_with(model: educational) do |form| %>
  <% if educational.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(educational.errors.count, "error") %> prohibited this educational from being saved:</h2>

      <ul>
        <% educational.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :degree_id, style: "display: block" %>
    <%= form.number_field :degree_id %>
  </div>

  <div>
    <%= form.label :university_id, style: "display: block" %>
    <%= form.number_field :university_id %>
  </div>

  <div>
    <%= form.label :start_at, style: "display: block" %>
    <%= form.date_field :start_at %>
  </div>

  <div>
    <%= form.label :end_at, style: "display: block" %>
    <%= form.date_field :end_at %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
