<%= render "shared/header", show_gradient: false %>
<%= render "shared/search" %>
<div id="students">
  <table class="table table-striped">
    <thead>
      <th>Name</th>
      <th>Father Name</th>
      <th>Registered At</th>
      <th>Stipend Start At</th>
      <th>Stipend End At</th>
      <th>State</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Destroy</th>
    </thead>
  <tbody class="table-group-divider">
    <% @students.each do |student| %>
      <%= render student, show_all_data: false %>
    <% end %>
  </tbody>
  </table>
</div>
<%= will_paginate @students, list_classes: %w(pagination justify-content-center) %>
<%= link_to "New student", new_student_path, class: "btn btn-primary m-2" %>
<%= render "shared/footer" %>
