<div id="<%= dom_id sponsord %>">
  <p>
    <strong>Name:</strong>
    <%= sponsord.name %>
  </p>

  <p>
    <strong>Start from:</strong>
    <%= sponsord.start_from %>
  </p>

  <p>
    <strong>End to:</strong>
    <%= sponsord.end_to %>
  </p>

  <p>
    <strong>Student:</strong>
    <%= sponsord.student_id %>
  </p>

</div>
