<%= form_with(model: stipend, :html => {:class => "row g-3"}) do |form| %>
  <% if stipend.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(stipend.errors.count, "error") %> prohibited this stipend from being saved:</h2>

      <ul>
        <% stipend.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-floating col-md-4">
    <%= form.number_field :amount, class: "form-control", placeholder: "Name",  id: "floatingInput" %>
    <%= form.label :amount, style: "display: block", for: "floatingInput" %>
  </div>

  <div class="form-floating col-md-4">
    <%= form.date_field :stipend_in, class: "form-control", placeholder: "Name",  id: "floatingInput" %>
    <%= form.label :stipend_in, style: "display: block", for: "floatingInput" %>
  </div>

  <div class="form-floating col-md-4">
    <%= form.text_field :payment_method, class: "form-control", placeholder: "Name",  id: "floatingInput" %>
    <%= form.label :payment_method, style: "display: block", for: "floatingInput" %>
  </div>

  <div class="col-md-6">
    <%= form.label :recevied_at, style: "display: block", class: "text-white" %>
    <%= form.date_field :recevied_at, class: "form-control", placeholder: "Name" %>
  </div>

  <div class="col-md-6">
    <%= form.label :recevied_by, style: "display: block", class: "text-white" %>
    <%= form.date_field :recevied_by, class: "form-control", placeholder: "Name" %>
  </div>

  <div>
    <%= form.submit :class => "btn btn-primary" %>
  </div>
<% end %>
