<p style="color: green" class="position-absolute"><%= notice %></p>
<%= render "shared/header", show_gradient: false %>
<%= render "student_stipends", stipends: @stipends %>
<%= link_to "New stipend", new_stipend_path, class: "btn btn-primary m-2" %>
<%= render "shared/footer" %>
